<blockquote class="quote">
    <p class="quote__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
        eius quis deserunt, soluta alias explicabo placeat in quaerat harum!
        Qui, praesentium! Praesentium suscipit atque explicabo amet maiores iure
        velit consequuntur.
    </p>
    <footer>
        <div class="media">
            <div class="media__image">
                <svg class="icon icon--primary quote__line">
                    <use xlink:href="images/sprite.svg#line"></use>
                </svg>
            </div>
            <div class="media__body">
                <h3 class="media__title quote__author">Ayush Arya</h3>
                <p class="quote__organization">ABC Company</p>
            </div>
        </div>
    </footer>
</blockquote>
